.card{
    width: 100%; /* Occupe un quart de l'espace disponible */
    height: 100%;
    background: #C03737;
    box-shadow: black 0px 0px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: wheat;
    transition: transform 0.5s ease;
}

.card:hover{
    background: #c0373798;
    box-shadow: black 0px 0px 10px;
}

.card.rotated {
    transform: rotateY(180deg);
    background: radial-gradient(circle, rgb(255, 0, 0) 67%, rgb(196, 0, 0) 100%);

  }

.cards-show {
    transition: transform 0.5s ease;
    transform: rotateY(-180deg);
    
    }
