/* Styles pour les ordinateurs */
@media (min-width: 768px) {

    .demineur{
        width: 100%;
        height: 100vh;
        background: linear-gradient(45deg, rgba(255, 79, 132, 0.418) 8%, rgba(253,68,29,0.12138728323699421) 45%, rgba(252, 69, 69, 0.363) 100%);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }

    .head-demineur{
        width: 50%;
        background: #FFB876;
        border-radius: 10px; 
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;

    }


    .container-demineur{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 767px) {

    .demineur{
        width: 100%;
        height: 100vh;
        background: linear-gradient(45deg, rgba(255, 79, 132, 0.418) 8%, rgba(253,68,29,0.12138728323699421) 45%, rgba(252, 69, 69, 0.363) 100%);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }

    .head-demineur{
        width: 80%;
        background: #FFB876;
        border-radius: 10px; 
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
    }


    .container-demineur{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }


}